[Desktop Entry]
Name="Starfox 64: Recompiled"
Comment=A native port of Starfox 64, statically recompiled
Exec=Starfox64Recompiled
Terminal=false
Icon=512
StartupWMClass=Starfox64Recompiled
Type=Application
Categories=Game;Action;Shooting;Space;
